.git
.cursor
.DS_Store
node_modules
logs
data
.env
.env.*
!.env.example
env.server.from-conoha
bitbank-gas
bitbank-gas-meta
bitbank-gas-team-b
bitbank-gas-team-f-short
bitbank-gas-team-j
bitbank-gas-team-k
gas-clasp
deploy
saxo-openapi
*.md
!README.md
