PORT=3052
# BASIC_AUTH_USER=admin
# BASIC_AUTH_PASSWORD=

# LINE Messaging API
LINE_CHANNEL_ACCESS_TOKEN=
LINE_USER_ID=

# TRADE_PULSE_DISABLED=true
# TRADE_PULSE_ENABLED=true
TRADE_PULSE_INITIAL_BALANCE=50000
TRADE_PULSE_VOLUME_USD=1000
TRADE_PULSE_BTC_INITIAL_BALANCE=50000
TRADE_PULSE_BTC_VOLUME=0.01
TRADE_PULSE_CHECK_INTERVAL_MS=300000
